# Composer
/composer.lock
/vendor/*

# Testbench Dusk

/src/tests/Browser/console/*
/src/tests/Browser/screenshots/*
/tests/Browser/console/*
/tests/Browser/screenshots/*
/tmp/*

# Laravel Stubs
/laravel/vendor
